@media (min-width: 361px)
{
    article {
    box-shadow: 0px 0px 10px rgb(100,100,100);    
    }
    .descripciones {
    display: none;    
    }
    nav {
    display:none;
    }
}

@media (min-width: 769px)
{

    .descripciones {
        display: inline-block;
        
    }
    nav {
        display:inline-block;
    }
        
}




* {
background-color: #EAC926;
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-size: 12px;
font-family: 'Roboto', sans-serif;
}

main{
    text-align: center;
    width: 90vw;
}

main section i {
    display: block;
    font-size: ​16​px​;
    padding: ​5​px​;
    width: ​30​px​;
    height: ​30​px​;
    border: ​1​px​ ​solid​ ​#39b54a; 
    background-color: #fff;
    border-radius: ​50; 
    position: absolute​;
    right: ​20​px​;
    top: ​-15​px​;
    }    

#barraDeBusqueda {
background-color: white;
border-color: white;
box-shadow: 0px 0px 10px rgb(100,100,100);
}
.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    align-content: flex-start;
 

}
article {
    width: 600px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
}





article p {
    background-color:#ebebeb;
}
.titulares {
    font-size: 24px;   
}
.precios {
    font-size: 18px;
    
}
.descuentos {
    font-size: 16px;
    color: #39b54a;
    
}
.descripciones {
    font-size: 16px;
    
}
div {
    text-align: center;
    width: 90vw;
}
section {
    text-align: center;
    width: 90vw;
}
footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}
article p i {
    color: #39b54a;
    padding: 4px;
    border-width: 10px;
    border-color: #39b54a;
    border-radius: 90%;
    text-align: center;
    background-color: white;
}