* {
background-color: #EAC926;
font-size: 12px;
font-family: 'Roboto', sans-serif;
}

.titulares {
    font-size: 24px;   
}
.precios {
    font-size: 18px;
    
}
.descuentos {
    font-size: 16px;
    
}
.descripciones {
    font-size: 16px;
    
}
div {
    text-align: center;
}
section {
    text-align: center;
}
footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}