* {
background-color: #EAC926;
font-size: 12px;
font-family: 'Roboto', sans-serif;
}

main{
    text-align: center;
    width: 90vw;

}

article {
    margin: 10px;
    display: inline-block;
    padding: 15px;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
}
article p {
    background-color:#ebebeb;
}
.titulares {
    font-size: 24px;   
}
.precios {
    font-size: 18px;
    
}
.descuentos {
    font-size: 16px;
    color: #39b54a;
    
}
.descripciones {
    font-size: 16px;
    
}
div {
    text-align: center;
    width: 90vw;
}
section {
    text-align: center;
    width: 90vw;
}
footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}